body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0;
  }
  
  .mat-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mat-paginator {
    margin-top: 20px;
  }
  
  .mat-toolbar {
    background-color: #1976D2;
    color: #ffffff;
  }
  